<p>delete works!</p>
<br>
<form [formGroup]="book" (ngSubmit)="delete(id)" >
    <table style="text-align: center" class="table table-striped" >
        <tr><td>Title</td><td><input disabled type="text" formControlName="title"></td></tr>
        <tr><td>Author</td><td><input disabled type="text" formControlName="author"></td></tr>
        <tr><td>Description</td><td><input disabled type="text" formControlName="description"></td></tr>
        <tr><td colspan="2"><button class="btn btn-danger">DELETE</button></td></tr>
    </table>
</form>
